@use "../custom" as *;

.contact {
  p {
    margin-bottom: 2rem;
  }

  form {
    label {
      font-weight: bold;
    }

    input,
    select,
    textarea {
      border: 1px solid $gray-400;
      border-radius: 0.25rem;
      padding: 0.75rem;
    }

    .autreObj {
      display: none;
    }

    .submit {
      button {
        background-color: $primary;
        padding: 0.75rem 1.5rem;

        &:hover {
          background-color: darken($primary, 10%);
        }
      }
    }
  }
}
